body {
  background: linear-gradient(to bottom, #fff 0%, #cfcfcf 50%, #a0a0a0 100%);
}

/* Header */
#header {
  background: linear-gradient(rgba(0, 0, 0, 0.281) 0%, rgba(0, 0, 0, 0.767) 100%), url('../img/imageFundo.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ddd;
  position: relative;
}

.content h3 {
  border: 2px solid #ddd;
  padding: 10px;
  margin: 20px 0;
  backdrop-filter: blur(10px);
  animation: myAnimation 5s linear infinite;
  z-index: 1000;
}

.content div {
  position: absolute;
  bottom: 42px;
  width: 80vw;
  background: #ddd;
  height: 3px;
  z-index: 1;
}

@keyframes myAnimation {
  0% {
    box-shadow: 1px 1px 5px #ccc;
  }

  50% {
    box-shadow: 1px 1px 17px #ccc;
  }

  100% {
    box-shadow: 1px 1px 5px #ccc;
  }
}

/* Main */
.primeiro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(255deg, #9e9e9e, #575757);
  color: #fff;
  padding: 30px 0px;
}

.primeiro .myDivs {
  border-bottom: 1px solid #000;
}

.primeiro .myPhoto {
  margin: 20px 0;
}

.primeiro .myPhoto img {
  border-radius: 10px;
  box-shadow: 1px 1px 20px #ccc;
}

.primeiro .details {
  display: flex;
  flex-direction: column;
}

.primeiro .details div {
  margin-top: 20px;
}

.primeiro .details .socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.primeiro .details .socials i {
  font-size: 2rem;
  transition: .4s;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid transparent;
}

.primeiro .details .socials .bi-github {
  color: #444;
}

.primeiro .details .socials i:hover {
  color: #8f8f8f;
  background: #181818;
  border: 1px solid goldenrod;
}

.primeiro .myBtn {
  background: linear-gradient(to right, #1f1f1f, #3f3f3f);
  color: #fff;
  margin: 10px 0;
  border: 1px solid transparent;
  transition: .4s;
}

.primeiro .myBtn:hover {
  border: 1px solid goldenrod;
}

.segundo {
  padding: 20px;
}

.segundo h2 {
  margin-bottom: 20px;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.segundo ul li:hover {
  color: #fff;
}

.parag {
  padding-top: 10px;
}

.destaque {
  color: goldenrod;
}

.myKnowledge ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 10px;
}

.myKnowledge ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  padding: 10px 20px;
  border: 2px solid goldenrod;
  margin: 10px;
  transition: .4s;
}

.myKnowledge ul li i {
  font-size: 1.5rem;
}

.myKnowledge .educations ol {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000; */
  padding: 0;
}

.myKnowledge .educations ol li {
  display: flex;
  align-items: center;
  padding: 10px;
}

.myKnowledge .educations ol li span {
  background: #1f1f1f;
  color: #fff;
  padding: 5px 40px 5px 20px;
  margin-right: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.btnMoreHide label {
  background: #1f1f1f;
  color: #fff;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 10px;
  transition: .4s;
  border: 1px solid transparent;
  cursor: pointer;
}

.btnMoreHide label:hover {
  background: #fff;
  color: #1f1f1f;
  border: 1px solid #000;
}

.educations ol .moreCourse,
.educations ol .btnHide,
.btnMoreHide .hide {
  display: none;
}

.educations ol .btnHide:checked~.btnMoreHide .more {
  display: none;
}

.educations ol .btnHide:checked~.btnMoreHide .hide {
  display: inline-block;
}

.educations ol .btnHide:checked~.moreCourse {
  display: block;
}

.html i {
  color: #ca8300;
}

.html:hover i,
.css:hover i,
.js:hover i,
.react:hover i,
.ts:hover i,
.next:hover i,
.sass:hover i,
.boots:hover i,
.git:hover i,
.pyt:hover i,
.excel:hover i {
  color: #fff;
}

.html:hover {
  background: #ca8300;
  box-shadow: 1px 1px 10px #ca8300;
  border-color: transparent;
}

.css i {
  color: #0068ca;
}

.css:hover i {
  color: #fff;
}

.css:hover {
  background: #0068ca;
  box-shadow: 1px 1px 10px #0068ca;
  border-color: transparent;
}

.js i {
  color: #caac00;
}

.js:hover {
  background: #caac00;
  box-shadow: 1px 1px 10px #caac00;
  border-color: transparent;
}

.react i {
  color: #00a2ca;
}


.react:hover {
  background: #00a2ca;
  box-shadow: 1px 1px 10px #00a2ca;
  border-color: transparent;
}

.ts i {
  color: #0058ca;
}


.ts:hover {
  background: #0058ca;
  box-shadow: 1px 1px 10px #0058ca;
  border-color: transparent;
}

.next i {
  color: #5a5a5a;
}


.next:hover {
  background: #5a5a5a;
  box-shadow: 1px 1px 10px #5a5a5a;
  border-color: transparent;
}

.sass i {
  color: #6800ca;
}


.sass:hover {
  background: #6800ca;
  box-shadow: 1px 1px 10px #6800ca;
  border-color: transparent;
}

.boots i {
  color: #400094;
}


.boots:hover {
  background: #400094;
  box-shadow: 1px 1px 10px #400094;
  border-color: transparent;
}

.git i {
  color: #b47706;
}


.git:hover {
  background: #b47706;
  box-shadow: 1px 1px 10px #b47706;
  border-color: transparent;
}

.pyt i {
  color: #0044ff;
}


.pyt:hover {
  background: #0044ff;
  box-shadow: 1px 1px 10px #0044ff;
  border-color: transparent;
}

.excel i {
  color: #1f7a03;
}


.excel:hover {
  background: #1f7a03;
  box-shadow: 1px 1px 10px #1f7a03;
  border-color: transparent;
}

.html i {
  color: #ca8300;
}


.myWorks .projects {
  /* border: 1px solid #000; */
  margin: 0;
}

@media (min-width: 992px) {
  .myWorks .projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
  }

  .projects .card {
    width: 45%;
    margin: 10px 5px;
  }
}

.projects .card {
  margin: 10px 5px;
  padding: 10px;
}

.projects .card h5 {
  border-bottom: 1px solid #000;
  padding-bottom: 7px;
}

.projects .card a {
  width: 100%;
  padding: 15px 0px;
  margin-top: 30px;
  border: 2px solid transparent;
  transition: .4s;
}

.projects .card a:hover {
  border-color: #0044ff;
  color: #0044ff;
  background-color: transparent;
}

.btnProjest {
  position: absolute;
  bottom: 20px;
  background: #808080;
  color: #fff;
  border: 1px solid transparent;
  transition: .4s;
}

.btnProjest:hover {
  background: #fff;
  color: #535353;
  border: 1px solid #000;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #1f1f1f;
}

footer p {
  color: #fff;
}

footer p a {
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 10px;
}

@media (min-width: 768px) {
  #header {
    height: 55vh;
  }

  .mainContainer {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}